langchain
langchain-community
langchain-core
langchain-openai
faiss-cpu
chromadb
pypdf
pymupdf
python-dotenv
pydantic
sentence-transformers
rank-bm25
scikit-learn
tqdm
fastapi
pandas
datasets
ragas
openpyxl
einops
uvicorn
rich
loguru
crawl4ai
requests
openai